body {
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mroot {
  min-width: 300px;
  max-width: 500px;
  padding-top: 5px;
  padding-bottom: 15px;
  border: 10px;
  border-color: rgb(218, 215, 215);
  border-radius: 15px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 377px;
}
.hidden {
  display: none;
}
.innerframe {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  border: 10px;
  border-color: #98eb34;
  border-radius: 15px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: red;
  font-size: 20px;
  font-weight: bolder;
}

.pre {
  padding: 10px;
}

/*  */

.chrap {
  width: 90%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chartheader {
  font-size: 20px;
  font-weight: bolder;
}

.butcont {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.bta {
  background-color: gray;
  color: white;
  font-size: 12px;
  font-weight: bolder;
  height: 60px;
  width: 115px;
  cursor: pointer;
  border-style: none;
  flex: 0 2 115px;
}

.btb {
  background-color: #98eb34;
  color: white;
  font-size: 12px;
  font-weight: bolder;
  height: 60px;
  width: 115px;
  cursor: pointer;
  border-style: none;
  flex: 0 1 115px;
}

.bcontainer {
  margin-top: 10px;
  width: 98%;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sbutton {
  /*width: 8%;*/
  height: 25px;
  border: none;
  border-radius: 25px;
  background-color: #eae745;
  color: rgb(224, 91, 25);
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}

.butonsub {
  width: 80%;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.ba {
  align-self: flex-start;
  justify-self: left;
  margin-left: 10%;
}
.bb {
  align-self: flex-end;
  justify-self: left;
}
.bc {
  align-self: flex-start;
  justify-self: left;
}

.chartimage {
  width: 90%;
  height: 150px;
  border-radius: 5px;
  background-color: #eae745;
}

.closebutton {
  align-self: end;
  color: black;
  background: white;
  border: white;
  font-variant: dark;
  font-weight: bolder;
}

.photlogobox {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 5px;
  border-width: 4px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lowertext {
  margin-top: 15px;
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 15px;
  text-align: center;
}

.lowerbutton {
  background-color: #98eb34;
  font-size: 20px;
  width: 80%;
  height: 40px;
  font-weight: bold;
  padding: 0;
  border: 0;
}

input {
  border: none;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  background-color: lightgrey;
}

input::placeholder {
  font: 20px/3 sans-serif;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  color: black;
}

.chbox {
  accent-color: #9d3039;
  height: 20px; /* not needed */
  width: 20px; /* not needed */
}
.qrbox {
  width: 60%;
  height: 200px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  word-wrap: break-word;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}
#formhide {
  display: none;
}
.qruri {
  width: 80%;
  /* height: auto; */
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: #000;
  background-color: lightgrey;
  font-size: 20px;
  word-wrap: break-word;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.orangetext {
  color: orange;
  font-weight: bold;
  font-size: 20px;
}
.clabel {
  width: auto;
  background: #eee;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clabel:hover {
  background: var(--grey-background);
  cursor: pointer;
}

.centertext {
  text-align: center;
}

.mailed {
  font-size: 18px;
  font-weight: bolder;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.blacktext {
  color: black;
  font-weight: bold;
  font-size: 15px;
  width: 80%;
}

.threebuttonsdiv {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
}

.greenquestion {
  color: #98eb34;
  font-size: 18px;
  font-weight: bolder;
  width: 80%;
}

.thbut {
  font-size: large;
  font-weight: bolder;
}

.policydiv {
  width: 90%;
  height: 90%;
  scroll-behavior: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 10;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .mroot {
    border: 3px;
    border-color: rgb(218, 215, 215);
    border-radius: 15px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 93vh;
  }

  .policydiv {
    height: 40vh;
  }
}
